* {
  font-size: 1em;
  box-sizing: border-box;
  margin-top: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  font-weight: normal;
  margin-left: 0px;
  padding: 0px;
 }

 body {
   font-family: corbel, sans-serif;
   width: 100%;
 }
 a{
   text-decoration: none;
   font-weight: bold;
   color: #db5800;
 }
 
 h1{
   font-size: 1.5em;
   font-weight: bold;
 }
 
 h2{
   font-size: 1.25em;
   font-weight: bold;
 }

h3{
  font-size: 1em;
}
 #redLine {
   float: left;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #db5800;
   height: 100%;
   width: 15px;
   z-index: 1000;
 }

.mainNav {
  width: 47%;
}

header {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 0 3% 0 3%;
  background-color: white;
  box-shadow: 0px 0px 6px lightgray;
  z-index: 100;
}

li {
 color:  #978b7b;
 text-decoration: none;
 list-style: none;
}

nav li {
 width: 33.34%;
 max-width: 120px;
 text-align: center;
 height: 44px;
 font-weight: bold;
 font-size: 0.8em;
 display: flex;
 align-items: center;
 justify-content: center;
 color: white;
}

nav li:nth-child(1) {
  background-color: #ff9000;
}

nav li:nth-child(2) {
  background-color: #db5800;
}

nav li:nth-child(3) {
  background-color: #8ea106;
}

nav ul {
 display: flex;
 justify-content: flex-end;
}

#logoWrapper {
  width: 40%;
  height: 90%;
  margin: auto 0 auto 8px;
  padding: auto 0 auto 0;
}

#logo {
  width: 180px;
  height: 100%;
}
/*end header section*/

#mainContent {
  width: 100%;
  padding-top: 80px;
}

#createContent {
  width: 100%;
}

/*start "input section" */
#input {
  width: 100%;
  height: auto;
  min-width: 250px;
  padding: 15px 0;
  background-color: #12a89d;
  text-align: left;
  /*overflow-y:  scroll;*/
}

#buttons {
 /*word-spacing: 1em; */
 width: 100%;
 max-width: 375px;
 min-width: 122.86px;
 margin:auto;
}

button {
  background-color: #ff9000;
  color: black;
  font-size: .8em;
  text-decoration: none;
  border: 1px solid white;
  padding: 4px 0 4px 0;
  width: 122.86px;
  margin: 0 5px;
 }

/*accordian layout*/
#accordion {
  /*max-width: 375px;*/
  margin-top: 10px;
}

#input h1 {
  color: #12a89d;
  font-weight: bold;
  font-size: 1.1em;
  /*margin-left: 5px;*/
  border-bottom: 2px solid white;
  width: 100%;
  padding: 7px 0 7px 20px;
  background-color: #97dcd2;
  margin-bottom: 8px;
}
/*#input h1:last-of-type{
  border-bottom: none;
}*/

#input li {
  background-color: white;
  width: 100%;
  margin: 0 auto 0 auto;
  height: 30px;
  padding-left: 20px;
  color: #12a89d;
  display: flex;
  align-items: center;
}

/*end accordian layout*/


/*start of output section */
#output {
  height: auto;
  min-height: 130px;
}

#blenderLarge {
  width: 70px;
  height: 130px;
  float: left;
  margin-left: 25px;
}

#selectedList {
  width: 90%;
  min-width: 250px;
  margin: 25px auto 25px auto;
  border: 1px solid #afa497;
  height: 100px;
  border-radius: 20px;
  top: 45px;
  color: black;
}

#selectedList h2 {
  margin-left: 25px;
  margin-top: -10px;
  color: #afa497;
  background-color: white;
  width: 110px;
  font-size: .9em;
  text-align: center;
}

.userInput {
  background-color: #12a89d;
  width: 100%;
  max-width: 1024px;
  text-align: center;
  margin-top: 10px;
 }

#buttons {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

footer {
  background-color: #978b7b;
  border-bottom: 0px;
  position: fixed;
  width: 100%;
  height: 25px;
  bottom: 0px;
  z-index: 1000;
}

footer ul {
  display: flex;
  justify-content: flex-end;
  font-size: .85em;
  margin-right: 5px;
}

footer li {
  padding-right: 10px;
  padding-top: 4px;
}

#byline {
  display:none;
  position: fixed;
  top: 70px;
  left: 45px;
  color: #978b7b;
}

#selectedList li{
  color: #978b7b;
}


#title{
  font-size: 1.4em;
  font-weight: bold;
  color: black;
}

#map {
  height: 500px;
  width: 600px;
  }
  
#addRecipe{
  visibility: hidden;
}



/*about content page begins here*/
#aboutContent{
  background-image: url('/images/blenderLarge.png');
  background-repeat: repeat-y;
  background-size: 99px 182px;
  opacity: .7;
  position: relative;
  z-index: 2;
}


#aboutContentWrapper{
  position: relative;
  max-width: 500px;
  margin-left: 105px;
}
#aboutContent h2{
  color: #12a89d;
}


/*saved recipe page*/
#recipesContent{
  background-color: #12a89d;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 25px;
  top: 100px;
  padding-top: 40px;
  min-width: 250px;
  z-index: 1;
}
#recipesContent h2{
  color: white;
  font-size: 1.5em;
}
#recipeFilter{
  float:right;
  position: absolute;
  right: 1.4em;
  top: 48px;
  font-size: .7em;
}
.recipeCardImg{
  width: 85%;
  height: auto;
  margin: 0 auto;
  min-width: 250px;
  max-width: 400px;
 }
 
#recipesContent aside p{
  color: white;
  font-size: .7em;
  text-align: center;
}

.recipeCardImgWrapper{
  text-align: center;
  margin-top: -25px;
}
.recipeLabel{
  position: relative;
  left: 0px;  
  color: #12a89d;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 5px;
 }
.recipeTextWrapper{
 float: left;
 width: 50%;
 margin-left: 4.6em;  
 text-align: left;
 position: relative;
 top: 50px;
 color: #978b7b;
 font-size: .8em;
 line-height: 1em;
}

#sectionBreak{
  color: #ff9000;
  text-align: center;
  border-bottom: 1px solid white;
}
#sectionBreak h4{
  background-color: #12a89d;
  position: relative;
}

#highlightedCard{
  margin-top: 20px;
}
.recipeText{
  overflow-y: scroll;
}


