@media only screen and (min-width : 500px) {

  .userInput{
  height: 225px;
 }
 .createContent{
   height:150px;
 }
 #blenderLarge{
   width: 500px;
   height: auto;
   margin:auto;
 }
 #buttons{
   width: 85%;
 }
 #logo{
  width: 280px;
  height: auto;
}
header{
  
}

}


