@media only screen and (min-width : 500px) {
  #byline{
    display: block;
  }

  /*.userInput{
  height: 225px;
 }
 .createContent{
   height:150px;
 }*/
 #output{
   top: 105px;
  }

 #blenderLarge{
   width: 300px;
   height: auto;
   float: inherit;
   margin-left: 50px;
   margin-top: 25px;
 }
 #nutritionFacts{
   width: 25%;
   margin-top: -450px;
 }
 #input{
   padding-left: 200px;
   height: auto;
   top: 260px;
 }
 #input h1{
   padding-left: 170px;
 }
 #accordian{
  margin-top: 30px;
 }

 /*#buttons{
   width: 85%;
 }*/
 #logo{
  width: 280px;
  height: auto;
  margin-left: 5px;
}

#nutritionFacts{
  margin-top: -450px;
  margin-left: 100px;
}
#selectedList{
  top: -200px;
  width: 60%;
  margin-left: 370px;
}
