@media only screen and (min-width : 600px) {
  #byline{
    display: block;
  }

  /*.userInput{
  height: 225px;
 }
 .createContent{
   height:150px;
 }*/
 #output{
   top: 105px;
  }
 
 #blenderLarge{
   width: 300px;
   height: auto;
   float: inherit;
   margin-left: 50px;
   margin-top: 25px;
 }

 #input{
   padding-left: 200px;
   height: 42%;
   top: 260px;
 }
 #input h1{
   padding-left: 170px;
 }
 #accordian{
  margin-top: 30px;
 }

 /*#buttons{
   width: 85%;
 }*/
 #logo{
  width: 280px;
  height: auto;
  margin-left: 5px;
}

#nutritionFacts{
  margin-top: -500px;
  margin-left: 105px;
  font-size: .9em;
}
#selectedList{
  top: -200px;
  width: 60%;
  margin-left: 370px;
}

/*nutrition label*/
#nutritionFacts{
  position: relative;
  border: 1px solid black;
  padding: 10px;
  width: 160px;
  height: 250px;
  line-height: .2em;
}

#title{
  font-size: 1.4em;
  font-weight: bold;
  color: black;
}

}



